{% extends 'pages/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<div class="input-form-css">
<form method="POST" >

    {% csrf_token %}
    {{BForm|crispy}}
    <label for="VIP_Selector">Choose your lounge: </label>
    <select name="VIP_Selector" id="VIP_Selector">
        <option value="option1">Normal stay and lounge</option>
        <option value="option2">VIP stay and lounge</option>
    </select>
    <h1 id="cost_output"> Price = £0.00 </h1>
    <button class="btn btn-success" type="submit" disabled="true" id="booking_button"> submit </button>

</form>
</div>

<script src = "{% static 'js/booking.js' %}"> </script>
{% endblock %}