{% load static %}

{% block content %}

<nav class="navbar navbar-expand-sm bg-primary">
    <ul class="navbar-nav">
    <div class="logo-div">
      <a href="#">
      <img src="{% static 'Imagery/Logo.webp' %}">
    </a>
  </div>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href = "#">
        <button class="btn btn-secondary mt-2 "> 123 </button>
      </a>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href = "#">
        <button class="btn btn-secondary mt-2 "> 123 </button>
      </a>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href = "#">
        <button class="btn btn-secondary mt-2 "> 123 </button>
      </a>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href = "#">
        <button class="btn btn-secondary mt-2 "> 123 </button>
      </a>
    </ul>
  </nav>

  {% endblock %}