{% extends 'pages/base.html' %}

{% load crispy_forms_tags %}

{% block content %}



{% comment %} this is the profile update form {% endcomment %}
<div class="row">
    <div class="col profileform1">
<form method = "POST" autocomplete = "on">
    {% csrf_token %}
    {{profileform|crispy}}
    <a type="submit" class="btn btn-primary"> submit </a>
    &nbsp; &nbsp; &nbsp;
    <a class="btn btn-danger" href="{% url 'login' %}"> Delete Profile </a>
</form>
    

    </div> 

{% comment %} this is the profile data view {% endcomment %}
<div class="col profileform1">

<h1>Username: <br>
    <strong> {{profiledb.username}} </h1>
<hr>
<h1>First Name: <br>
    {{profiledb.first_name}} </h1>
<hr>
<h1>Last Name: <br>
    {{profiledb.last_name}} </h1>
<hr>
<h1>Email: <br>
    {{profiledb.email}} </h1>
<hr>
<h1>Phone Number: <br>
    {{profiledb.phonenum}} </h1>

</div>
</div>
{% comment %} this is the bookings table {% endcomment %}
<hr>

<h1> Your Bookings: </h1>
<br>
<div class="tablebottom">

<table class="table table-hover"> 

    <thead class="table-secondary">
        <th scope="col"> Arrival Date: </th>
        <th scope="col"> Departure Date: </th>
        <th scope="col"> People: </th>
        <th scope="col"> Price: </th>
        <th scope="col"> VIP: </th>   
        {% comment %} <th scope="col"> Payment: </th>              {% endcomment %}
    </thead>

    <tbody class="table-secondary">

        {% if records %}
        {% for record in records %}
        <tr>
            <td scope="row"> {{record.booking_startdate}} </td>
            <td> {{record.booking_enddate}} </td>
            <td> {{record.booking_people}} </td>
            <td> {{record.booking_cost}} </td>
            <td> {{record.booking_VIP_status}}</td>
        </tr>

            {% endfor %}
        {% endif %}

  
    </tbody>    

</table>    
</div>

{% endblock %}